<template>
  <div class="wrap">字典列表</div>
</template>

<script>
import { Loading } from 'vant';
export default {
  components: {
    [Loading.name]: Loading
  },
  data() {
    return {
      dictionaryList: [],
      loading: false
    };
  },
  created() {
    this.getData();
  },
  methods: {
    // 获取数据
    async getData() {
      try {
        this.loading = true;
        const { data } = await this.$http({
          method: 'GET',
          url: this.$urlMapper.getDictionary,
          params: {
            <% for(let key in params) {
              %><%= key %>: '<%= params[key] %>',
            <%}%>}
        });
        this.loading = false;
        this.dictionaryList = data;
      } catch (error) {
        this.loading = false;
        console.error(error || '获取服务列表失败');
      }
    },
  }
};
</script>

<style lang="scss" scoped></style>
